.page {
  --background: #fceff7;
  --foreground: #EFF3E5;

  --text-primary: #3c3d39;
  --text-title: #B76A9B;
  --text-secondary: #c890b1;
  --text-tertiary: #aec37b;

  --accent-pink: #B76A9B;
  --accent-green: #aec37b;
  --accent-pink-dull: #b76a9b9e;
  --accent-green-dull: #afc37baa;


  --btn-bg: #fceff7;
  --btn-hover: #c890b1;
  --btn-border: #B76A9B;

  --module-border: #e1bed4;
  --module-bg: #FFFAFD;

  --nav-link: #c890b1;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-monomaniac-one);
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary);
  background-color: var(--background);
}

.title {
  padding: 20px;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -20%;
  text-wrap: balance;
  color: var(--text-title);
  font-family: var(--font-sixtyfour);
}

.subtitle {
  font-size: 24px;
  line-height: 32px;
  text-decoration: underline;

}

.navbar {
  width: 85%;
  position: fixed;
  top: 65;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar div {
  display: flex;
  flex-direction: column;
}

.navbar div:last-child {
  text-align: right;
}

.nav_link {
  color: var(--nav-link);
  text-decoration: underline;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-monomaniac-one);
  text-align: right;
  cursor: pointer;
}

.join_btn_container button {
  background: none;
}

.header {
  text-align: center;
  padding-bottom: 20px;
}

.main {

  display: flex;
  flex: 1;
  width: 98vw;
  flex-direction: column;
  align-items: center;

  background-color: var(--foreground);
  padding: 60px;

  background-color: #f9f9f9;

  /* Border */
  border-radius: 15px;
  border: 7px solid var(--background);
  box-shadow:
    inset 0 0 0 7px var(--accent-green),
    0 0 0 7px var(--accent-pink);


  margin: 14px
}

.btn,
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px 5px 16px;
  border-radius: 128px;
  color: var(--text-tertiary);
  background-color: var(--btn-bg);
  border: 4px solid var(--btn-border);
  transition: 0.2s;
  cursor: pointer;
  min-width: 100px;
  width: fit-content;
  font-family: var(--font-monomaniac-one);
  font-size: 1rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;

}

.form input {
  margin: 5px 5px 10px 0;
  padding: 5px;
  color: var(--text-secondary);
  border: 3px solid var(--accent-green);
  border-radius: 5px;
  width: 300px;
}

/*Profile Page*/
.pfp {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  width: 100%;
}

.pfp h2 {
  font-size: 32px;
  line-height: 40px;
  text-wrap: balance;
  color: var(--text-primary);
}

.pfp hr {
  border: 1px solid var(--accent-pink-dull);
}

.profile_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-green) var(--foreground);
}

.pfp h3 {
  text-decoration: underline;
}

.shows,
.tours {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 8px;
}


.date {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.venue div:first-child,
.tour div:first-child {
  color: var(--text-secondary);
  font-weight: bold;
}


.venue div,
.tour div {
  padding: 0;
  margin: 0;
}

.pfp_module {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 20px 10px 10px;
  color: var(--text-primary);
  background-color: var(--module-bg);
  border: 2px solid var(--module-border);
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  width: auto;
  font-size: 16px;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 93vw !important;
    justify-content: flex-start;
    margin: 14px;
  }

  .title {
    font-size: 40px;
  }

  .form {
    display: flex;
    flex-direction: column;

  }

  .form input {
    width: 250px;
  }

  /*Profile*/

  .navbar {
    width: 76%;
    position: absolute;
    top: 35;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile_body {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .shows {
    gap: 10px;
  }

  .pfp_module {
    padding: 5px 10px;
    font-size: 14px;
  }

  .profile_body h3 {
    text-align: center;
    padding-bottom: 15px;
  }

  .tours {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
  }

  .date {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: 20px;
    line-height: 1;
    height: 100%;
    margin-right: 5px;

  }

  .venue {
    text-align: right;

  }


}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}